<div class='preloader'>
  <div class='sk-spinner sk-spinner-circle'>
    <div class='sk-circle1 sk-circle'></div>
    <div class='sk-circle2 sk-circle'></div>
    <div class='sk-circle3 sk-circle'></div>
    <div class='sk-circle4 sk-circle'></div>
    <div class='sk-circle5 sk-circle'></div>
    <div class='sk-circle6 sk-circle'></div>
    <div class='sk-circle7 sk-circle'></div>
    <div class='sk-circle8 sk-circle'></div>
    <div class='sk-circle9 sk-circle'></div>
    <div class='sk-circle10 sk-circle'></div>
    <div class='sk-circle11 sk-circle'></div>
    <div class='sk-circle12 sk-circle'></div>
  </div>
</div>

<%= render partial: 'partials/navpanel' %>

<section id='main'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-sm-12'>
        <h3>КОТТЕДЖНЫЙ ПОСЕЛОК</h3>
        <h1>ДЕРЕВЕНЬКА</h1>
        <hr>
        <a href='#work' class='smoothScroll btn btn-danger'>Подробнее</a>
        <a href='#contact' class='smoothScroll btn btn-default'>Связаться с нами</a>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'work' %>

<%= render partial: 'about' %>

<div id='team' data-parallax="scroll" data-image-src="/assets/parallax_1.png"></div>

<%= render partial: 'portfolio' %>


<%= render partial: 'contacts' %>

<%= render partial: 'footer' %>

